$default: #282565;

h2, h3, h4 {
  font-weight: 500 !important;
}

p, li {
  font-size: 18px;
}

hr {
  margin: 40px 0;
}

.home-foggy-sutro-tower {
  background: image-url('bastian-hoppe-foggy-sf-sunrise.jpg') no-repeat;
  background-size: cover;
  height: 700px;

  a {
    color: #b1dcfb;
    text-decoration: underline;
  }
}

.home-welcome-banner {
  margin-top: 70px;
  margin-bottom: 100px;
}

.section-header {
  text-align: center;
  margin-bottom: 40px;
}

.bio {
  clear: left;
}

.bio img {
  width: 100px;
  float: left;
  margin: 0 20px 20px 0;
}
