
%p
  Fog City Ruby is dedicated to providing a harassment-free experience for everyone,
  regardless of gender, gender identity and expression, sexual orientation, disability,
  physical appearance, body size, race, age or religion. We do not tolerate harassment
  of meetup participants in any form. Meetup participants violating these rules may
  be sanctioned or expelled from the meetup without a refund at the discretion of
  the meetup organizers.

%p
  Harassment includes:
  %ul.better-ul
    %li
      verbal comments that reinforce social structures of domination (related to gender,
      gender identity and expression, sexual orientation, disability, physical appearance,
      body size, race, age, religion);
    %li sexual images in public spaces;
    %li deliberate intimidation;
    %li stalking;
    %li following;
    %li harassing photography or recording;
    %li sustained disruption of talks or other events;
    %li inappropriate physical contact; and
    %li unwelcome sexual attention.

%p
  Participants asked to stop any harassing behavior are expected to comply immediately.

%p
  Sponsors are also subject to the anti-harassment policy. In particular, sponsors should
  not use sexualised images, activities, or other material.

%p
  If a participant engages in harassing behavior, the meetup organizers may take any action
  they deem appropriate, including warning the offender or expulsion from the meetup with no refund.
  If you are being harassed, notice that someone else is being harassed, or have any other concerns,
  please contact an organizer immediately. To report harassment via email, you can
  email the organizers at #{ mail_to "hello@fogcityruby.com" }.
