%footer.page-footer
  .container
    .row
      .col.s3.center
        = link_to 'Attend', "/attend.html", class: "white-text"
      .col.s3.center
        = link_to 'Speak', "/speak.html", class: "white-text"
      .col.s3.center
        = link_to 'Host', "/host.html", class: "white-text"
      .col.s3.center
        = link_to 'Learn More', "/learnmore.html", class: "white-text"
