%section
  .container.mt20
    .row
      .col.s12
        .section-header
          %h3 Want to Host Fog City Ruby?
          %p That would be awesome!

        %p
          Each month, we bring together 50-60 delightful Bay Area rubyists for an evening of
          talks about Ruby and Ruby-adjacent topics. Our members love seeing new offices
          and hearing about what makes our hosts special; hosts have the opportunity to give a
          30-second pitch during the opening announcements and mingle with our member before and
          after the talks.

        %p
          We've learned over time what makes for a smoothly-run edition of Fog City Ruby,
          and we've included here some of the basic requirements of hosting us.
          If everything below sounds good to you, please send us a quick note via Meetup — visit
          #{ link_to "http://www.meetup.com/fogcityruby" } and click "Contact" below the Organizers
          section of the left column.


        %hr

        %h4.mt40 Food & Drink
        %p
          We ask that hosts provide dinner and drinks for 50-60 people. Dinner doesn’t have to be fancy,
          but we do request no pizza or appetizers and to have vegetarian options available.
          We’ve found the meetup to go most smoothly when food has been set up by 6:15pm
          with clearly labeled food options including dietary restriction details.

        %p
          Our hosts usually also provide beer and wine, and we ask that you also provide
          non-alcoholic drinks as well, as some of our attendees do not drink alcohol.

        %p
          We’re also happy to provide a list of delicious and reasonably priced caterers
          that hosts have used in the past!

        %hr

        %h4.mt40 Event Space & AV
        %p
          We've had success having presentations given in office meal spaces with attendees
          seated around tables, as well as lecture-style seating with chairs in rows facing
          the speaker. If you're trying out a space for presentations or hosting a meetup
          for the first time, please let us know.
        %p
          We usually have three speakers, and ask that hosts have an AV setup that will allow
          for speakers to see their presenter notes (usually on their own laptop) while the
          attendees just see the slides projected big on the wall or screen.
        %p
          We also ask for some kind of amplification for our speakers; while some speakers
          have been fantastic at projecting, we’ve found that everyone has a much more
          pleasant experience when the speakers are mic’d (hand-held or lapel mics are great).

        %hr

        %h4.mt40 Security
        %p
          San Francisco office buildings are all unique snowflakes when it comes to security
          requirements. We’ve been able to accommodate all the variations we’ve seen so far,
          but some setups will require us to recruit more volunteers to help with check in,
          so we like to have a solid picture of what your building’s process is up front.
          (We'll ask you more specific questions about security as we confirm your company
          as a host.)
