%section
  .container.mt20
    .row
      .col.s12
        %h3.section-header Speak at Fog City Ruby!
        %p
          Speakers of all programming and speaking experience levels are welcome to submit talks,
          and we’re especially excited to host speakers who come from populations that are
          underrepresented in tech.

        %p
          Submit a talk: http://tinyurl.com/fogcityrubycfp
        %p
          Our topic wishlist: https://github.com/fogcityruby/organizing/wiki/Topic-Wish-List
        %p
          We are dedicated to a harassment-free experience for everyone.
          All speakers are expected to abide by the Fog City Ruby code of conduct, including
          the content of their presentations.
          The full Code of Conduct can be found here: http://fogcityruby.github.io/
